{% extends "ratemy/base_bootstrap.html" %}
{% load staticfiles %}
{% block title_block %}
    Log In
{% endblock %}

{%block head_block%}
    {% static 'css/forms.css' %}
{% endblock %}

{% block body_block %}
<form class="form_style" role="form" method="post" action=".">
    <h1 class="form-signin-heading">Login</h1>
    <br>
    {% csrf_token %}
    <div class="form-group align" >
    <label for="inputUsername" class="sr-only">Username</label>
    <input style="margin-bottom:5px;" type="text" id="id_username" class="form-control" name="username" placeholder="Username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="id_password" class="form-control" name="password" placeholder="Password" required>
    <input type="hidden" name="next" value="{{ next }}" />
    </div>
    <button style="position: relative; top: -5px;margin-bottom:5px" type="submit" class="btn btn-primary">Sign in</button>
    <p>Not  a member? <a style="color:white;cursor:pointer" href="{% url 'registration_register' %}"><em>Register</em></a>!</p>
</form>

{% endblock %}
