{% extends 'ratemy/base_bootstrap.html' %}
{% load staticfiles %}
{% block title_block %}
    Add Post
{% endblock %}

{%block head_block%}
    {% static 'css/forms.css' %}
{% endblock %}

{% block body_block %}
        <form class="form_style" method="post" enctype="multipart/form-data">
            <h1>Add a Post</h1>
            <hr style="visibility: hidden">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{hidden}}
            {% endfor %}
            {% for field in form.visible_fields %}
                {{ field.errors}}
                {{ field.help_text }}
                {{ field }}
                <br>
            {% endfor%}
            <hr style="visibility: hidden">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
{% endblock %}