{% extends 'ratemy/base_bootstrap.html' %}
{% load el_pagination_tags %}
{% load staticfiles %}

{% block title_block %}
    Categories
{% endblock %}
{%block head_block%}
    {% static 'css/post-divs.css' %}
{% endblock %}

{% block body_block %}
    <h1>Category List</h1>
    <hr>
    <div class="search-container">
            <form  method="GET" action="">
                <input  type="text" placeholder="Search for a category..." name="search" value="{{ request.GET.search }}">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>

    {% if categories %}
        {% paginate categories %}
        {% for category in categories %}
            <div class="outline post-div" id="yourdiv">
                <div class="div-post-img"><a href="/category/{{category.slug}}" ><img src="{{MEDIA_URL}}{{category.image}}"></a></div>
                <div id="rightcolumn" >
                    {{ category.title }}
                    <h6><a href = "/category/{{category.slug}}">{{ category.name }}</a></h6>
                    <p>{{ category.author }}</p>
                </div>
            </div>
            <br style="clear: left;"/>
        {% endfor %}
        {% show_pages %}
    {% else %}
        <strong>There are no categories present.</strong>
    {% endif %}
{% endblock %}

