{% extends 'ratemy/base_bootstrap.html' %}
{% load staticfiles %}

{% block title_block %}
Catagories
{% endblock %}
{%block head_block%}
    {% static 'css/category.css' %}
{% endblock %}

{%block style_block%}

img {
    max-width: 100%;
    max-height: 100%;
    float: left;
}
{%endblock%}



{% block body_block %}
    <div class="search-container">
            <form  method="GET" action="">
                <input  type="text" placeholder="Search.." name="search" value="{{ request.GET.search }}">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>

{% if categories %}
    <div>


      <ul>
          {% for category in categories %}
          <div>
              <a href="/category/{{category.slug}}"><div class="outline"  style="width:100%;margin: 0 auto;padding:: 10px;height:150px;margin: 20px 0;background-color:#F8F8F8"></a>
              <a href="/category/{{category.slug}}">{{ category.name }}</a>
              <img src="{{MEDIA_URL}}{{category.image}}">
              <p>{{ category.author }}</p>


          </div>

          {% endfor %}

      </ul>
      {% else %}
        <strong>There are no categories present.</strong>
      {% endif %}

{% endblock %}

