{% extends 'ratemy/base_bootstrap.html' %}
{% load staticfiles %}
{% block title_block %}
Catagories
{% endblock %}


{% block body_block %}
<div class="search-container">
            <form  method="GET" action="">
                <input  type="text" placeholder="Search.." name="search" value="{{ request.GET.search }}">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>

{% if categories %}
      <ul>
          {% for category in categories %}
          <li><a href="/category/{{category.slug}}">{{ category.name }}</a></li>
          {% endfor %}
      </ul>
      {% else %}
        <strong>There are no categories present.</strong>
      {% endif %}

{% endblock %}
