{% extends 'ratemy/base_bootstrap.html' %}
{% load staticfiles %}
{% block title_block %}
    {{category.name}}
{% endblock %}


{% block body_block %}
        <div class="search-container">
            <form  method="GET" action="">
                <input  type="text" placeholder="Search.." name="search" value="{{ request.GET.search }}">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>

        <div>
	<strong id="like_count">{{ category.followers}}</strong> people like this category
	{% if user.is_authenticated %}
		<button id="likes" data-catid="{{category.id}}" class="btn btn-primary btn-sm" type="button">
			Like
		</button>
	{% endif %}
	</div>
    <div>
        <a href="/category/{{category.slug}}/add_post">Add a page</a>



    {% if category %}
        <h1>{{ category.name }}</h1>



        <ul>

        </ul>
            <a href="/ratemy/category/{{category.slug}}"><img height="auto" width="300px" src="{{MEDIA_URL}}{{category.image}}"></a>



        {% if posts %}
            <ul>
            {%for post in posts %}
                <li><a href="/ratemy/category/{{category.slug}}/{{post.slug}}">{{post.title}}</a></li>
                <br>
                <p>Likes : {{post.likes}}</p>
                <br>
                {{post.created_date}}
                <br>
                <a href="/ratemy/category/{{category.slug}}/{{post.slug}}"><img src="{{post.picture.url}}"></a>
            {%endfor%}
            </ul>
        {%else%}
            <strong>No pages currently in category.</strong>
        {%endif%}
    {%else%}
        The specified category does not exist!
    {% endif %}
    </div>
{% endblock %}
