{% extends 'ratemy/base_bootstrap.html' %}
{% load staticfiles %}
{% load el_pagination_tags %}

{% block title_block %}
    {{category.name}}
{% endblock %}


{%block head_block%}
    {% static 'css/category.css' %}
{% endblock %}

{% block body_block %}
    <div id="wrapper">
    {% if category %}
        <h1>{{ category.name }}</h1>

        <div class="image-cropper"><img class="cat-img" src="{{MEDIA_URL}}{{category.image}}"></div>

        <p>Creator: <a href="{% url 'profile' category.author %}">{{category.author}}</a></p>


    <div>
	<strong id="follower_count">{{ category.followers}}</strong> people follow this category
	{% if user.is_authenticated %}
		<button id="followers" data-catid="{{category.id}}" class="btn btn-primary btn-sm" type="button">Follow</button>
	{% endif %}
    </div>



        <hr>

        <h1>Posts</h1>

        <input type="button" class="btn btn-primary btn-sm" value="Add Post" onclick="location.href = '/category/{{category.slug}}/add_post';">
        <hr style="visibility: hidden;">

        <div class="search-container">
            <form  method="GET" action="">
                <input  type="text" placeholder="Search for a post.." name="search" value="{{ request.GET.search }}">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>

        {% if posts %}
            {% paginate posts %}
            {%for post in posts %}
                    <div class="outline post-div" id="yourdiv">

                        <div class="div-post-img"><a href = "/ratemy/category/{{post.category.slug}}/{{post.slug}}"><img class="post-img" src="{{post.picture.url}}"></a></div>
                        <div id="rightcolumn" >
                            <h6><a href = "/ratemy/category/{{post.category.slug}}/{{post.slug}}">{{ post.title }}</a></h6>
                            <p style="font-size:15px">OP: <a href="{% url 'profile' post.author %}">{{post.author}}</a></p>
                            <p>Likes: {{post.likes}}</p>
                            <div style="float: right;">
                                <p style="font-size:10px">{{post.created_date}}</p>
                            </div>
                        </div>
                    </div>
                    <br style="clear: left;" />
            {%endfor%}
            {% show_pages %}

        </div>
        {%else%}
            <strong>No pages currently in category.</strong>
        {%endif%}
    {%else%}
        The specified category does not exist!
    {% endif %}

{% endblock %}
