{% extends 'ratemy/base_bootstrap.html' %}
{% load staticfiles %}
{% block title_block %}
Contact Us
{% endblock %}
{%block head_block_2%}
    {% static 'css/forms.css' %}
{%endblock%}

{% block body_block %}
<div class="form_style">
<h1>Got a suggestion for the site? Have a question?</h1>
<h6>(Or you just want to tell us how awesome we are!)</h6>
<h4>Send us an email!</h4>
<div>
    <p><strong>Mustafa Kurugollu</strong>: 2288113@student.gla.ac.uk</p>
    <p><strong>Hassan Khan</strong>: 2288115k@student.gla.ac.uk</p>
    <p><strong>Muhammad Fahd Asif</strong>: 2262555A@student.gla.ac.uk</p>
    <p><strong>Peter Maltzoff</strong>: 2259598m@student.gla.ac.uk</p>
</div>
</div>
{%endblock%}
