{% extends 'ratemy/base_bootstrap.html' %}
{% load staticfiles %}
{% load ratemy_template_tags %}

{% block title_block %}
  FAQs
{% endblock %}

{% block head_block %}
  {% static 'css/faq.css' %}
{% endblock %}

{% block body_block %}
<div class="faq_div">
    <ul>
        <li class="faq_li q">What is RateMy?</li>
        <li class="faq_li a">RateMy is a rating and discussion website.
        Registered members can create categories in which other registered members can upload
        images and text posts. These posts can be upvoted/downvoted by
        fellow members.</li>
        <li class="faq_li q">How can I create a Category?</li>
        <li class="faq_li a">You have to be logged in first and click on the dropdown menu  with your username and you should see a link to the "Create a Category" page</li>
        <li class="faq_li q">How can I create a Post?</li>
        <li class="faq_li a">First be a logged in. Then navigate to the category you want to post to and there you will find an "Add Post" button</li>
        <li class="faq_li q">How can I comment?</li>
        <li class="faq_li a">To be able to comment you must have a logged in Facebook account.</li>
        <li class="faq_li" ><a href="{% url 'contact_us' %}">CONTACT US </a></li>
    </ul>
</div>
{% endblock %}
