{% extends 'ratemy/base_bootstrap.html' %}
{% load staticfiles %}
{% load el_pagination_tags %}
{% include page_template %}
{% load sorting_tags %}

{% block title_block %}
Home
{% endblock %}

{%block head_block%}
    {% static 'css/post-divs.css' %}
{% endblock %}

{%block script_block%}
    {% static 'js/faq.js' %}
{%endblock%}"

{% block body_block %}
    <h1>Home</h1>
    <hr>
    <h3 style="font-family: Palatino;color: Orange;">Top Posts</h3>
    {% if posts %}
            <ul>
            {% paginate posts %}
            {%for post in posts %}
                    <div class="outline post-div" id="yourdiv">

                    <div class="div-post-img"><a href = "/ratemy/category/{{post.category.slug}}/{{post.slug}}"><img class="post-img" src="{{post.picture.url}}"></a></div>
                    <div id="rightcolumn" >
                        <h6><a href = "/ratemy/category/{{post.category.slug}}/{{post.slug}}">{{ post.title }}</a></h6>
                        <p style="font-size:15px">OP: <a href="{% url 'profile' post.author %}">{{post.author}}</a></p>
                        <p>Likes: {{post.likes}}</p>
                        <div style="float: right;">
                        <p style="font-size:10px">{{post.created_date}}</p>
                        </div>
                    </div>
                    <br style="clear: left;" />
                </div>
            {%endfor%}
            <br>
            {% show_pages %}
            </ul>
        {%else%}
            <strong>No Posts.</strong>
        {%endif%}
{% endblock %}
