{% extends 'ratemy/base_bootstrap.html' %}
{% load staticfiles %}
{% load el_pagination_tags %}
{% include page_template %}
{% load sorting_tags %}

{% block title_block %}
Home
{% endblock %}
{%block style_block%}
.center{
    width:200px;
    margin:0 auto;
    text-align:left;
}

img {
    max-width: 100%;
    max-height: 100%;
    float: left;
}

.outline{
 transition: 0.7s;
}
.outline:hover{
    box-shadow: 0 0 2px 4px powderblue;
}

.fade{
    opacity: 1;
}

{%endblock%}

{% block body_block %}
    <h1></h1>
{% sort_link "link text" "name" %}
{% if posts %}
    <div >
        {% paginate posts %}

        {% for post in posts %}

        <div>
        <a href="/ratemy/category/{{post.category.slug}}/{{post.slug}}">
            <div class="outline"  style="width:100%;margin: 0 auto;padding: 10px;height:150px;margin: 20px 0;background-color:#F8F8F8"></a>
            <a href = "/ratemy/category/{{post.category.slug}}/{{post.slug}}">{{ post.title }}</a>
            <img src="{{post.picture.url}}">
            <p>{{post.author}}</p>
            <p>{{post.created_date}}</p>
            <p>{{post.likes}}</p>
        </div>
        {% endfor %}
        {% show_pages %}
    </div>
{% else %}
    <strong>There are no Posts present.</strong>
{% endif %}
{% endblock %}

{%block script_block%}
$(window).on("load",function() {
  $(window).scroll(function() {
    var windowBottom = $(this).scrollTop() + $(this).innerHeight();
    $(".fade").each(function() {
      /* Check the location of each desired element */
      var objectBottom = $(this).offset().top + $(this).outerHeight();

      /* If the element is completely within bounds of the window, fade it in */
      if (objectBottom < windowBottom) { //object comes into view (scrolling down)
        if ($(this).css("opacity")==0) {$(this).fadeTo(300,1);}
      } else { //object goes out of view (scrolling up)
        if ($(this).css("opacity")==1) {$(this).fadeTo(300,0);}
      }
    });
  }).scroll(); //invoke scroll-handler on page-load
});
{% endblock %}
