<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">

    <head>
        <title>RateMy</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static "css/landing.css" %}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

  <!--colours i like: DarkTurquoise, DeepSkyBlue  -->
  <body scroll="no" style="background-color:PowderBlue;text-align:center;overflow: hidden" >
  <img src='{% static "website-images/TestLogo.png" %}' alt="ratemy logo">

    <div class="search-container">
    <form action="/action_page.php">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>

    <div class="outer-div" style="text-align:center;padding-bottom:50px">

      <div class="inner-div">


      <button type="button"  class="btn btn-primary btn-lg " href="{% url 'registration_register' %}">Sign Up</button>
      <hr style="height:3px;width:100px;margin-top:10px;margin-bottom:10px" />
      <button type="button"  class="btn btn-primary btn-lg" href="{% url 'auth_login' %}">Login</button>
      <br>
      <a style="color:white;cursor:pointer"><em>Can't Login?</em></a>
      <br>

      </div>
    </div>
  </body>
  </body>

</html>