<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">

    <head>
        <title>RateMy</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static "css/landing.css" %}" />
        <link rel="icon" href="{% static 'website-images/favicon.ico' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <style>
            img {
                width: 30%;
                height: auto;
            }
        </style>
    </head>

  <!--colours i like: DarkTurquoise, DeepSkyBlue  -->
  <body scroll="no" style="background-color:PowderBlue;text-align:center;overflow: hidden" >
  <img src='{% static "website-images/ratemylogoclear.png" %}' alt="ratemy logo">

  <div style="margin:auto;width:300px;" class="search-container">
        <form action="/action_page.php">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
  </div>

  <a href="/home">Home</a>

    <div class="outer-div" style="text-align:center;padding-bottom:50px">

      <div class="inner-div">


      <input type="button" class="btn btn-primary btn-lg" value="Sign Up" onclick="location.href = 'accounts/register';">
      <hr style="height:3px;width:100px;margin-top:10px;margin-bottom:10px" />
      <input style="width:100px" type="button" class="btn btn-primary btn-lg" value="Log In" onclick="location.href = 'accounts/login';">
      <br>
      <a style="color:white;cursor:pointer"><em>Can't Login?</em></a>
      <br>


      </div>
    </div>


  </body>

</html>