<!DOCTYPE html>

<html lang="en">
    <head>
        {% load staticfiles %}
        {% load ratemy_template_tags %}
        <title>RateMy</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="icon" href="{% static 'website-images/favicon.ico' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="{% static 'css/landing.css/' %}" />
    </head>
  <body>
  <img style="width:30%" src='{% static "website-images/ratemylogoclear.png" %}' alt="ratemy logo"><br>
  <a href="{% url 'home'%}">Go to Home Page</a>
  <div class="center">
      <h2>Top Categories</h2>
      {% if categories %}
      <ul>
          {% for category in categories %}
          <li><a href="/category/{{category.slug}}">{{ category.name }}</a></li>
          {% endfor %}
      </ul>
      {% else %}
        <strong>There are no categories present.</strong>
      {% endif %}
    <h2>Top Posts</h2>
    {%if posts%}
    <div style="background-color:powderblue;height:300px:width:300px" class="w3-content w3-display-container">
        {% for post in posts %}
        <a href="/ratemy/category/{{post.category.slug}}/{{post.slug}}"><img class="mySlides" src="{{post.picture.url}}" style="width:100%;height:100%;"></a>
        {% endfor %}
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
    </div>
      {% else %}
    <strong>There are no Posts present.</strong>
    {% endif %}
  </div>


    <div style="padding:20px">

      <div class="inner-div">

    {% if user.is_authenticated %}
          <input type="button" class="btn btn-primary btn-lg" value="Log Out" onclick="location.href = '{% url 'auth_logout' %}?next=/home';">
    {% else %}
      <input type="button" class="btn btn-primary btn-lg" value="Sign Up" onclick="location.href = 'accounts/register';">
      <input type="button" class="btn btn-primary btn-lg" value="Log In" onclick="location.href = 'accounts/login';">
      <br>
    {% endif %}
      </div>
    </div>
  </body>
<script src="{% static 'js/landing.js' %}"></script>
</html>
