{% extends 'ratemy/base_bootstrap.html' %}
{% load staticfiles %}
{% load el_pagination_tags %}
{% block title %}
    User Profiles
{% endblock %}

{%block head_block%}
    {% static 'css/post-divs.css' %}
{% endblock %}

{% block body_block %}
<h1 style="color:orange;font-family: Palatino;">User Profiles</h1>
<hr>

<div class="search-container">
            <form  method="GET" action="">
                <input  type="text" placeholder="Search.." name="search" value="{{ request.GET.search }}">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
<hr style="visibility: hidden">
<div style="text-align:center">

    <div style="width:10%;display: inline-block;" class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Sort by:
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <form method="GET" action=""><input class="dropdown-item" type="submit" name="sort" value="name"  ></form>
    <form method="GET" action=""><input class="dropdown-item" type="submit" name="sort" value="author"  ></form>
    <form method="GET" action=""><input class="dropdown-item" type="submit" name="sort" value="followers"  ></form>
  </div>
</div>
</div>
<hr style="visibility: hidden">

{% if userprofile_list %}
        <ul>
        {% paginate userprofile_list %}
        {%for listuser in userprofile_list %}
                <div class="outline post-div" id="yourdiv">

                <div class="div-post-img"><a href = "{% url 'profile' listuser.user.username %}"><img class="post-img" src="{{ MEDIA_URL}}{{listuser.picture}}"></a></div>
                <div id="rightcolumn" >
                    <h4>
                    <a href="{% url 'profile' listuser.user.username %}">{{ listuser.user.username }}</a>
                    </h4>
                </div>
                <br style="clear: left;" />
            </div>
        {%endfor%}
        <br>
        {% show_pages %}
        </ul>
    {%else%}
        <strong>No Posts.</strong>
    {%endif%}
{% endblock %}
