{% extends 'ratemy/base_bootstrap.html' %}
{% load staticfiles %}
{% block title_block %}
    {{post.title}}
{% endblock %}

{%block head_block%}
    {% static 'css/post.css' %}
{% endblock %}

{% block body_block %}
    <h1>{{post.title}}</h1>

    <div>
    {%if post%}
    <img class="post-div" src="{{post.picture.url}}">
    <hr style="visibility: hidden">
    {%else%}
        <p>No Post here bro</p>
    {%endif%}
    </div>

    <p>OP: <a href="{% url 'profile' post.author %}">{{post.author}}</a></p>

    <div>
        <strong id="like_count">{{ post.likes}}</strong> people like this post
	{% if user.is_authenticated %}
		<button id="likes" data-postid="{{post.id}}" class="btn btn-primary btn-sm" buttonid="like" type="button">Like</button>
        <button id="unlike" data-postid="{{post.id}}" class="btn btn-primary btn-sm" buttonid="unlike" type="button">Dislike</button>
	{% endif %}
    </div>
    <hr>
    <p>Like, share and comment on FaceBook!</p>
    <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
    <br>
    <div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-numposts="5"></div>
    {#{{ request.build_absolute_uri }} #}
{% endblock %}
