{% extends 'ratemy/base_bootstrap.html' %}
{% load staticfiles %}
{% block title_block %}
Add Category
{% endblock %}

{% block body_block %}
    <div>
    {%if post%}
    <img src="{{post.picture.url}}">
    {%else%}
        <p>Somethin' ain't workin' fam</p>
    {%endif%}
    </div>

    <div>
        <strong id="like_count">{{ post.likes}}</strong> people like this post
	{% if user.is_authenticated %}
		<button id="likes" data-postid="{{post.id}}" class="btn btn-primary btn-sm" type="button">Like</button>
	{% endif %}
    </div>

    <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
    <div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-numposts="5"></div>
    {#{{ request.build_absolute_uri }} #}
{% endblock %}
