{% extends 'ratemy/base_bootstrap.html' %}
{% load staticfiles %}
{% load countries %}
{% block title_block %}
    {{selecteduser.username}} - Profile
{% endblock %}

{%block style_block%}
.center{
    width:200px;
    margin:0 auto;
    text-align:left;
}

img {
    max-width: 100%;
    max-height: 100%;
    float: left;
}

.outline{
 transition: 0.7s;
}
.outline:hover{
    box-shadow: 0 0 2px 4px powderblue;
}

.fade{
    opacity: 1;
}

{%endblock%}

{% block body_block %}
    <img src="{{ MEDIA_URL}}{{userprofile.picture}}" width="300px"/>
    <br>
    <div>
        {% if selecteduser.username == user.username %}
            <form method="post" action="." enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Update" />
            </form>
        {% else %}
            <p>Name: {{userprofile.first_name}} {{userprofile.last_name}}</p>
            <p>age: {{userprofile.age}}</p>
            <p>From: {{userprofile.country.name}}</p>
            <p>Bio: {{userprofile.bio}}</p>
            <p>Website:<a href="{{userprofile.fb}}">{{userprofile.fb}}</a></p>

        {% endif %}
    </div>
    <div id="edit_profile"></div>
    {% if posts %}
    <div >
        {% for post in posts %}
        <div>
        <a ><div class="outline"  style="width:100%;margin: 0 auto;padding: 10px;height:150px;margin: 20px 0;background-color:#F8F8F8"></a>
            <a href = "/ratemy/category/{{post.category.slug}}/{{post.slug}}">{{ post.title }}</a>
            <img src="{{post.picture.url}}">
            <p>{{post.author}}</p>
            <p>{{post.created_date}}</p>
            <p>{{post.likes}}</p>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <strong>There are no Posts present.</strong>
    {% endif %}
{% endblock %}