{% extends 'ratemy/base_bootstrap.html' %}
{% load staticfiles %}
{% load el_pagination_tags %}
{% load countries %}
{% block title_block %}
    {{selecteduser.username}} - Profile
{% endblock %}

{%block head_block%}
    {% static 'css/post-divs.css' %}
{% endblock %}

{%block head_block_2%}
    {% static 'css/forms.css' %}
{%endblock%}

{% block body_block %}
    <br>
        {% if selecteduser.username == user.username %}

            <form class="form_style" method="post" action="." enctype="multipart/form-data">
                <img style="padding-bottom:15px;" src="{{ MEDIA_URL}}{{userprofile.picture}}" width="300px"/>
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        {% else %}
            <div class="form_style">
            <img style="padding-bottom:15px;" src="{{ MEDIA_URL}}{{userprofile.picture}}" width="300px"/>
            <p>Name: {{userprofile.first_name}} {{userprofile.last_name}}</p>
            <p>age: {{userprofile.age}}</p>
            <p>From: {{userprofile.country.name}}</p>
            <p>Bio: {{userprofile.bio}}</p>
            <h6 style="color:orange">{{ selecteduser.username }}'s Social Media</h6>
            <a href="{{userprofile.fb}}">{{userprofile.fb}}</a>
            <br>
             <a href="{{userprofile.twitter}}">{{userprofile.twitter}}</a>
            <br>
             <a href="{{userprofile.instagram}}">{{userprofile.instagram}}</a>
            </div>
        {% endif %}
    <div></div>
    <hr>
    {% if posts %}
            <h1>{{ selecteduser.username }}'s Posts</h1>
            <ul>
            {% paginate posts %}
            {%for post in posts %}
                    <div class="outline post-div" id="yourdiv">

                    <div class="div-post-img"><a href = "{%url 'show_post' post.category.slug post.slug%}"><img class="post-img" src="{{post.picture.url}}"></a></div>
                    <div id="rightcolumn" >
                        <h6><a href = "{%url 'show_post' post.category.slug post.slug%}">{{ post.title }}</a></h6>
                        <p style="font-size:15px">OP: <a href="{% url 'profile' post.author %}">{{post.author}}</a></p>
                        <p>Likes: {{post.likes}}</p>
                        <div style="float: right;">
                        <p style="font-size:10px">{{post.created_date}}</p>
                        </div>
                    </div>
                    <br style="clear: left;" />
                </div>
            {%endfor%}
            <br>
            {% show_pages %}
            </ul>
        {%else%}
            <strong>User has no posts =(</strong>
        {%endif%}
{% endblock %}