{% extends 'ratemy/base_bootstrap.html' %}
{% load staticfiles %}
{% block tite_block %}
    Registration - Step 2
{% endblock %}

{%block style_block%}

    .form-control.width{
        width: 400px !important;
        margin:auto;
    }

    .form-control.width:focus{
        outline: none !important;
        border:1px solid coral;
    }

    .form.align{
        text-align:center !important;
        display: table-cell;
        margin: auto;
    }

    html, body {
        height: 100%;
    }

    .required.bold{
        font-weight: bold;
    }

    .btn-primary, .btn-primary:active {
        background-color: Orange  !important;
    }

    .btn-primary:hover{
       background-color:coral  !important;
    }
    .form_style{
        position: relative;
        top: 50%;
        padding: 15px;
        box-shadow: 10px 10px 5px grey;
    }


{% endblock %}

{% block body_block %}
    <form class="form_style" style="border-radius: 25px;margin:auto;background-color:powderblue;width:500px;color:white;" method="post" action="." enctype="multipart/form-data">
        <h1> Registration - Step 2</h1>
        <div class="form-group align" style="text-align:center">
        <br>
        {% csrf_token %}
        {{form.as_p}}
        </div>
        <button style="position: relative; top: -5px;" type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}