{% extends 'ratemy/base_bootstrap.html' %}
{% load staticfiles %}
{% block tite_block %}
    Registration - Step 2
{% endblock %}
{%block head_block%}
    {% static 'css/forms.css' %}
{% endblock %}

{% block body_block %}
    <form class="form_style" method="post" action="." enctype="multipart/form-data">
        <h1> Registration - Step 2</h1>
        <div class="form-group align">
        <br>
        {% csrf_token %}
        {{form.as_p}}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}