.form-control.width{
    width: 400px !important;
    margin:auto;
}

.form-control.width:focus{
    outline: none !important;
    border:1px solid coral;
}

.form.align{
    text-align:center !important;
    display: table-cell;
    margin: auto;
}

html, body {
    height: 100%;
}

.required.bold{
    font-weight: bold;
}

.btn-primary, .btn-primary:active {
    background-color: Orange  !important;
}

.btn-primary:hover{
   background-color:coral  !important;
}
.form_style{
    color:white;
    width:500px;
    margin:auto;
    border-radius: 25px;
    background-color:powderblue;
    padding: 15px;
    box-shadow: 10px 10px 5px grey;
}