/* #grad1 {
  height: 100%;
  width: 100%;
  background: red;
  For browsers that do not support gradients
  background: linear-gradient(blue, dodgerblue);
  Standard syntax (must be last)
} */

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.center-div
{
     margin: 0 auto;
     width: 100px;
}


.outer-div
{
     position: absolute;
     bottom: 30px;
     width: 100%;
}
.inner-div
{
     margin: 0 auto;
     width: 100px;
     height: 100px;

}



/*This is for changing the button colors when normal */
/*.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: Orange  !important;
}*/


/*This is for changing the button colors when hovering over the button */
.btn-primary:hover{
   background-color:coral  !important;
}


/*For hover search button*/
.search-container button:hover {
  background: DarkOrange; !important;
}

@media screen and (max-width: 600px) {
  .search-container {
    float: none;
  }
  .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
}