body{
    background-color: PowderBlue;
    text-align:center;
    overflow: hidden;
}

.center{
    width:200px;
    margin:0 auto;
    text-align:left;
}

h2{
    font-family: Palatino;
    color: white;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: Orange  !important;
}


/*This is for changing the button colors when hovering over the button */
.btn-primary:hover{
   background-color:coral  !important;
}