
img {
    max-width: 100%;
    max-height: 100%;
}
.center{
    width:200px;
    margin:0 auto;
    text-align:left;
}

.post-img {
    width: auto
    height: 100%;
    border-radius: 10%;
    float:left;
}

.div-post-img{
    height:100%;
    width:200px;
    float:left;
}

.post-div{
    overflow: hidden;
    width:60%;
    display: inline-block;
    padding: 10px;
    height: 150px;
    margin: 20px 0;
    background-color:#F8F8F8
}

.image-cropper {
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 20%;
    display: inline-block;
}

.cat-img {
    display: inline;
    margin: 0 auto;
    max-width:100%;
    max-height:100%;
}

.outline{
 transition: 0.7s;
}
.outline:hover{
    box-shadow: 0 0 2px 4px powderblue;
}

.fade{
    opacity: 1;
}
h1{
    font-family: Palatino;
    color: Orange;
}
